# .NET
WebApi/RGFinance/bin/
WebApi/RGFinance/obj/
WebApi/Database/bin/
WebApi/Database/obj/
*.dll
*.exe
*.pdb
*.cache
*.suo
*.user
*.userosscache
*.sln.docstates
[Bb]in/
[Oo]bj/

# Angular
Website/node_modules/
Website/dist/
Website/.angular/
Website/.sass-cache/
Website/coverage/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment and Configuration Files
appsettings.Development.json
appsettings.local.json
*.env
*.env.local
*.env.development.local
*.env.test.local
*.env.production.local

# Database Files
*.bacpac
*.bak
*.mdf
*.ldf

# Visual Studio
.vs/
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Temporary Files
*.tmp
*.temp
Thumbs.db
.DS_Store
