<div *ngIf="isVisible">
    <div class="form-group">
        <label>Nazwa</label>
        <input type="text" class="form-control" [(ngModel)]="expense.name"/>
    </div>
    <div class="form-group">
        <label>Kwota</label>
        <input type="number" class="form-control" [(ngModel)]="expense.value"/>
    </div>
    <div class="form-group">
        <label>Waluta</label>
        <input type="text" class="form-control" [(ngModel)]="expense.currency"/>
    </div> 
    <button class="btn btn-primary" (click)="addOrUpdate()">OK</button>
    <button class="btn btn-danger" (click)="onDelete()">Usuń</button>
</div>
