<div class="container wide mb-5">
    <h1>Dashboard - finance</h1>

    <div class="d-flex">
        <span>
            <span *ngIf="shouldShowCurrency(Currency.USD)">USD: <strong>{{
                    getForexRateInBaseCurrency(Currency.USD).toFixed(3)
                    }}</strong> {{ selectedBaseCurrency }}, </span>
            <span *ngIf="shouldShowCurrency(Currency.EUR)">EUR: <strong>{{
                    getForexRateInBaseCurrency(Currency.EUR).toFixed(3)
                    }}</strong> {{ selectedBaseCurrency }}, </span>
            <span *ngIf="shouldShowCurrency(Currency.PLN)">PLN: <strong>{{
                    getForexRateInBaseCurrency(Currency.PLN).toFixed(3)
                    }}</strong> {{ selectedBaseCurrency }}, </span>
            <span *ngIf="shouldShowCurrency(Currency.GOLD)" title="Uncja złota">GOLD: <strong>{{
                    getForexRateInBaseCurrency(Currency.GOLD).toFixed(0)
                    }}</strong> {{ selectedBaseCurrency }}, </span>
            <span *ngIf="forex" title="Bitcoin">BTC: <strong>{{
                    getCryptoPrice(forex.btc).toFixed(0)
                    }}</strong> {{ selectedBaseCurrency }}, </span>
            <span *ngIf="forex" title="Ethereum">ETH: <strong>{{
                    getCryptoPrice(forex.eth).toFixed(0)
                    }}</strong> {{ selectedBaseCurrency }}</span>
            <span *ngIf="forex" title="Solana">, SOL: <strong>{{
                    getCryptoPrice(forex.sol).toFixed(0)
                    }}</strong> {{ selectedBaseCurrency }}</span>
        </span>
        <span class="fill-remaining-space">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
        <span *ngIf="forex?.online">Dane online z <strong title="European Central Bank">ECB</strong>
            {{forex?.time}}</span>
        <span *ngIf="!forex?.online">Dane off-line historyczne z {{forex?.time}}</span>

    </div>

    <div class="row">
        <div class="col-4">
            <label>Waluta bazowa</label>
            <select [(ngModel)]="selectedBaseCurrency" (change)="onBaseCurrencyChange()" class="currency-dropdown">
                <option [value]="Currency.PLN">PLN</option>
                <option [value]="Currency.USD">USD</option>
                <option [value]="Currency.EUR">EUR</option>
            </select>
        </div>
        <div class="col-3">
            <input type="checkbox" class="hidden-checkbox" [(ngModel)]="isBaseCurrency" id="baseCurrency"
                name="baseCurrency" />
            <label [class.checked]="isBaseCurrency" for="baseCurrency">Waluta bazowa</label>
        </div>

        <div class="col-3">
            <input type="checkbox" class="hidden-checkbox" [(ngModel)]="isIncognito" (change)="onIncognitoChange()"
                id="incognito" name="incognito" />
            <label [class.checked]="isIncognito" for="incognito">Incognito</label>
        </div>
    </div>

    <div class="row my-5">

        <!-- STAN POSIADANIA -->

        <div class="col-4">
            <strong>Co mam</strong>
            <div class="float-right"><strong>{{ sumA().toFixed(0) | number: '3.0-0' }} {{ currentBaseCurrency
                    }}</strong></div>
            <hr class="RGF-hr" />
            <div class="row">
                <div class="col-8"><strong>Nazwa</strong></div>
                <div class="col-3"><strong>Wartość</strong></div>
                <div class="col-1"><strong>%</strong></div>
            </div>
            <hr class="RGF-hr" />
            <div *ngFor="let asset of flow.assets" (click)="onAssetClicked(asset)" class="hoverable">
                <div class="row">
                    <div class="col-8">{{ getAssetIcon(asset.assetType) }} {{ asset.name }}</div>
                    <div class="col-3 d-flex justify-content-end">{{ getFormattedValue(asset) }}&nbsp;{{
                        getCurrency(asset)
                        }}&nbsp;</div>
                    <div class="col-1 float-right">{{ asset.interest }}</div>
                </div>
                <app-edit-asset [asset]="asset" [isVisible]="isVisible(asset)" (save)="addOrUpdateAsset(asset)"
                    (delete)="onDeleteAsset(asset)" (cancel)="onCancelAssetEdit(asset)">
                </app-edit-asset>
            </div>

            <span *ngIf="!isAddingAsset" (click)="isAddingAsset = true" class="hoverable blue">&plus; Dodaj</span>
            <app-edit-asset [asset]="assetToAdd" [isVisible]="isAddingAsset" (save)="addOrUpdateAsset(assetToAdd)"
                (delete)="onDeleteAsset(assetToAdd)" (cancel)="onCancelAssetEdit(assetToAdd)">
            </app-edit-asset>
        </div>

        <!-- PRZYCHODY -->

        <div class="col-4">
            <strong>PRZYCHODY</strong>
            <div class="float-right"><strong>{{ sumP() | number: '3.0-0' }} {{ currentBaseCurrency }}</strong></div>
            <hr class="RGF-hr" />
            <div class="row">
                <div class="col-8"><strong>Nazwa</strong></div>
                <div class="col-3"><strong>Wartość</strong></div>
            </div>
            <hr class="RGF-hr" />
            <div *ngFor="let profit of flow.profits" (click)="onProfitClicked(profit)" class="hoverable">
                <div class="row">
                    <div class="col-8">{{ profit.name }}</div>
                    <div class="col-3 d-flex justify-content-end">{{ getFormattedValue(profit) }}&nbsp;{{
                        isBaseCurrency
                        ? currentBaseCurrency :profit.currency
                        }}&nbsp;</div>
                </div>
                <app-edit-profit [profit]="profit" [isVisible]="profit.isEditing" (save)="addOrUpdateProfit(profit)"
                    (delete)="onDeleteProfit(profit)">
                </app-edit-profit>
            </div>

            <app-edit-profit [profit]="profitToAdd" [isVisible]="isAddingProfit" (save)="addOrUpdateProfit(profitToAdd)"
                (delete)="onDeleteProfit(profitToAdd)"></app-edit-profit>

            <hr class="RGF-hr" />
            <div class="row">
                <div class="col-8">Inwestycje %% razem:</div>
                <div class="col-3">{{ sumInvestments() | number: '3.0-0' }}&nbsp;{{ currentBaseCurrency }}</div>
            </div>

            <div *ngIf="!isAddingProfit" (click)="isAddingProfit = true" class="hoverable blue">&plus; Dodaj</div>
        </div>

        <!-- WYDATKI -->

        <div class="col-3">
            <strong>WYDATKI</strong>
            <div class="float-right"><strong>{{ sumE() | number: '3.0-0' }} {{ currentBaseCurrency }}</strong></div>
            <hr class="RGF-hr" />
            <div class="row">
                <div class="col-6"><strong>Nazwa</strong></div>
                <div class="col-3"><strong>Wartość</strong></div>
            </div>
            <hr class="RGF-hr" />
            <div *ngFor="let expense of flow.expenses" (click)="expense.isEditing = true" class="hoverable">
                <div class="row">
                    <div class="col-8">{{ expense.name }}</div>
                    <div class="col-3 d-flex justify-content-end">{{ getFormattedValue(expense) }}&nbsp;{{
                        isBaseCurrency ? currentBaseCurrency :expense.currency
                        }}&nbsp;</div>
                </div>
                <app-edit-expense [expense]="expense" [isVisible]="expense.isEditing"
                    (save)="addOrUpdateExpense(expense)" (delete)="onDeleteExpense(expense)">
                </app-edit-expense>
            </div>
            <div *ngIf="!isAddingExpense" (click)="isAddingExpense = true" class="hoverable blue">&plus; Dodaj</div>
            <app-edit-expense [expense]="expenseToAdd" [isVisible]="isAddingExpense"
                (save)="addOrUpdateExpense(expenseToAdd)" (delete)="onDeleteExpense(expenseToAdd)"></app-edit-expense>
        </div>
    </div>

    <div class="diagram mb-5">
        <div class="">
            <strong>BILANS MIESIĘCZNY: <span [ngClass]="getBalanceColor()">
                    {{ getBalance() | number: '3.0-0'
                    }}&nbsp;{{ currentBaseCurrency }}</span></strong>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        </div>

        <br />

        <div class="row">
            <div class="col-6">
                <div class="mb-3">
                    <div class="d-flex flex-wrap">
                        <label class="mr-3">
                            <input type="checkbox" [(ngModel)]="assetTypeFilters[AssetType.Cash]"
                                (change)="onAssetTypeFilterChange()" />
                            💵 Waluta
                        </label>
                        <label class="mr-3">
                            <input type="checkbox" [(ngModel)]="assetTypeFilters[AssetType.Stocks]"
                                (change)="onAssetTypeFilterChange()" />
                            📈 Akcje
                        </label>
                        <label class="mr-3">
                            <input type="checkbox" [(ngModel)]="assetTypeFilters[AssetType.Metals]"
                                (change)="onAssetTypeFilterChange()" />
                            🟨 Kruszce
                        </label>
                        <!-- <label class="mr-3">
                            <input type="checkbox" [(ngModel)]="assetTypeFilters[AssetType.RealEstate]"
                                (change)="onAssetTypeFilterChange()" />
                            🏠 Nieruchomości
                        </label> -->
                        <label class="mr-3">
                            <input type="checkbox" [(ngModel)]="assetTypeFilters[AssetType.Crypto]"
                                (change)="onAssetTypeFilterChange()" />
                            🪙 Kryptowaluty
                        </label>
                        <!-- <label class="mr-3">
                            <input type="checkbox" [(ngModel)]="assetTypeFilters[AssetType.Other]"
                                (change)="onAssetTypeFilterChange()" />
                            💼 Inne
                        </label> -->
                    </div>
                </div>
            </div>
            <div class="col-6">
            </div>
        </div>

        <div class="row align-items-start">
            <div class="col-6 d-flex flex-column">
                <plotly-plot [data]="pieChart.data" [layout]="pieChart.layout"></plotly-plot>
            </div>
            <div class="col-6 d-flex flex-column">
                <plotly-plot [data]="pieChartByType.data" [layout]="pieChartByType.layout"></plotly-plot>
            </div>
        </div>

        <div class="row align-items-start mt-4 mb-5">
            <div class="col-12 d-flex flex-column">
                <div class="mb-3">
                    <strong>&fnof;(<input class="month-input" [(ngModel)]="months" type="number"
                            (change)="getFlow()" />, S,
                        P,
                        W) =
                        &sum;S<sub>i</sub> + m * ( &sum;P<sub>i</sub> - &sum;W<sub>i</sub> )
                    </strong>
                </div>
                <div>
                    <strong *ngIf="getBalance() < 0">Liczba miesięcy do bankructwa: {{ getBankruptcy() }} 💸</strong>
                    <strong *ngIf="getBalance() > 0 && isAlreadyMillionaire()">JUŻ JESTEŚ MILIONEREM! 👑</strong>
                    <strong *ngIf="getBalance() > 0 && !isAlreadyMillionaire() && getMillionaireTime()">Zostaniesz
                        milionerem
                        za: {{ getMillionaireTime() }} miesięcy! 💰</strong>
                    <strong *ngIf="getBalance() > 0 && !isAlreadyMillionaire() && !getMillionaireTime()">W tym tempie
                        nie
                        zostaniesz milionerem w ciągu 20 lat 😅</strong>

                </div>
                <plotly-plot [data]="graph.data" [layout]="graph.layout"></plotly-plot>

            </div>
        </div>
    </div>
</div>