<div class="container wide">
    <h1>Dashboard - finance</h1>

    <div class="d-flex">

        <span>
            <span *ngIf="shouldShowCurrency(Currency.USD)">USD: <strong>{{
                    getForexRateInBaseCurrency(Currency.USD).toFixed(3)
                    }}</strong> {{ selectedBaseCurrency }}, </span>
            <span *ngIf="shouldShowCurrency(Currency.EUR)">EUR: <strong>{{
                    getForexRateInBaseCurrency(Currency.EUR).toFixed(3)
                    }}</strong> {{ selectedBaseCurrency }}, </span>
            <span *ngIf="shouldShowCurrency(Currency.PLN)">PLN: <strong>{{
                    getForexRateInBaseCurrency(Currency.PLN).toFixed(3)
                    }}</strong> {{ selectedBaseCurrency }}, </span>
            <span *ngIf="shouldShowCurrency(Currency.GOLD)" title="Uncja złota">GOLD: <strong>{{
                    getForexRateInBaseCurrency(Currency.GOLD).toFixed(0)
                    }}</strong> {{ selectedBaseCurrency }}</span>
        </span>
        <span class="fill-remaining-space">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>

        <select [(ngModel)]="selectedBaseCurrency" (change)="onBaseCurrencyChange()" class="currency-dropdown">
            <option [value]="Currency.PLN">PLN</option>
            <option [value]="Currency.USD">USD</option>
            <option [value]="Currency.EUR">EUR</option>
        </select>

        <label class="switch">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Base
            <input type="checkbox" (click)="isBaseCurrency = !isBaseCurrency" />
            <span class="slider round"></span>
        </label>
    </div>
    <span *ngIf="forex.online">Dane online z <strong title="European Central Bank">ECB</strong>
        {{forex.time}}</span>
    <span *ngIf="!forex.online">Dane off-line historyczne z {{forex.time}}</span>

    <div class="row my-5">

        <!-- STAN POSIADANIA -->

        <div class="col-4">
            <strong>Co mam</strong>
            <div class="float-right"><strong>{{ sumA().toFixed(0) | number: '3.0-0' }} {{ currentBaseCurrency
                    }}</strong></div>
            <hr class="RGF-hr" />
            <div class="row">
                <div class="col-8"><strong>Nazwa</strong></div>
                <div class="col-3"><strong>Wartość</strong></div>
                <div class="col-1"><strong>%</strong></div>
            </div>
            <hr class="RGF-hr" />
            <div *ngFor="let asset of flow.assets" (click)="asset.isEditing = true" class="hoverable">
                <div class="row">
                    <div class="col-8">{{ asset.name }}</div>
                    <div class="col-3 d-flex justify-content-end">{{ getValue(asset) | number: '3.0-0' }}&nbsp;{{
                        isBaseCurrency
                        ? currentBaseCurrency
                        : asset.currency
                        }}&nbsp;</div>
                    <div class="col-1 float-right">{{ asset.interest }}</div>
                </div>
                <app-edit-asset [asset]="asset" [isVisible]="asset.isEditing" (save)="addOrUpdateAsset(asset)"
                    (delete)="onDeleteAsset(asset)">
                </app-edit-asset>
            </div>

            <span *ngIf="!isAddingAsset" (click)="isAddingAsset = true" class="hoverable blue">&plus; Dodaj</span>
            <app-edit-asset [asset]="assetToAdd" [isVisible]="isAddingAsset" (save)="addOrUpdateAsset(assetToAdd)"
                (delete)="onDeleteAsset(assetToAdd)">
            </app-edit-asset>
        </div>

        <!-- PRZYCHODY -->

        <div class="col-4">
            <strong>PRZYCHODY</strong>
            <div class="float-right"><strong>{{ sumP() | number: '3.0-0' }} {{ currentBaseCurrency }}</strong></div>
            <hr class="RGF-hr" />
            <div class="row">
                <div class="col-8"><strong>Nazwa</strong></div>
                <div class="col-3"><strong>Wartość</strong></div>
            </div>
            <hr class="RGF-hr" />
            <div *ngFor="let profit of flow.profits" (click)="onProfitClicked(profit)" class="hoverable">
                <div class="row">
                    <div class="col-8">{{ profit.name }}</div>
                    <div class="col-3 d-flex justify-content-end">{{ getValue(profit) | number: '3.0-0' }}&nbsp;{{
                        isBaseCurrency
                        ? currentBaseCurrency :profit.currency
                        }}&nbsp;</div>
                </div>
                <app-edit-profit [profit]="profit" [isVisible]="profit.isEditing" (save)="addOrUpdateProfit(profit)"
                    (delete)="onDeleteProfit(profit)">
                </app-edit-profit>
            </div>

            <app-edit-profit [profit]="profitToAdd" [isVisible]="isAddingProfit" (save)="addOrUpdateProfit(profitToAdd)"
                (delete)="onDeleteProfit(profitToAdd)"></app-edit-profit>

            <hr class="RGF-hr" />
            <div class="row">
                <div class="col-8">Inwestycje %% razem:</div>
                <div class="col-3">{{ sumInvestments() | number: '3.0-0' }}&nbsp;{{ currentBaseCurrency }}</div>
            </div>

            <div *ngIf="!isAddingProfit" (click)="isAddingProfit = true" class="hoverable blue">&plus; Dodaj</div>
        </div>

        <!-- WYDATKI -->

        <div class="col-3">
            <strong>WYDATKI</strong>
            <div class="float-right"><strong>{{ sumE() | number: '3.0-0' }} {{ currentBaseCurrency }}</strong></div>
            <hr class="RGF-hr" />
            <div class="row">
                <div class="col-6"><strong>Nazwa</strong></div>
                <div class="col-3"><strong>Wartość</strong></div>
            </div>
            <hr class="RGF-hr" />
            <div *ngFor="let expense of flow.expenses" (click)="expense.isEditing = true" class="hoverable">
                <div class="row">
                    <div class="col-8">{{ expense.name }}</div>
                    <div class="col-3 d-flex justify-content-end">{{ getValue(expense) | number: '3.0-0' }}&nbsp;{{
                        isBaseCurrency ? currentBaseCurrency :expense.currency
                        }}&nbsp;</div>
                </div>
                <app-edit-expense [expense]="expense" [isVisible]="expense.isEditing"
                    (save)="addOrUpdateExpense(expense)" (delete)="onDeleteExpense(expense)">
                </app-edit-expense>
            </div>
            <div *ngIf="!isAddingExpense" (click)="isAddingExpense = true" class="hoverable blue">&plus; Dodaj</div>
            <app-edit-expense [expense]="expenseToAdd" [isVisible]="isAddingExpense"
                (save)="addOrUpdateExpense(expenseToAdd)" (delete)="onDeleteExpense(expenseToAdd)"></app-edit-expense>
        </div>
    </div>

    <div class="diagram">
        <div class="">
            <strong>&fnof;(<input class="month-input" [(ngModel)]="months" type="number" (change)="getFlow()" />, S, P,
                W) =
                &sum;S<sub>i</sub> + m * ( &sum;P<sub>i</sub> - &sum;W<sub>i</sub> )
            </strong>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <strong>BILANS MIESIĘCZNY: <span [ngClass]="getBalanceColor()">
                    {{ getBalance() | number: '3.0-0'
                    }}&nbsp;{{ currentBaseCurrency }}</span></strong>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <strong *ngIf="getBalance() < 0">Liczba miesięcy do bankructwa: {{ getBankruptcy() }} 💸</strong>
            <strong *ngIf="getBalance() > 0 && isAlreadyMillionaire()">JUŻ JESTEŚ MILIONEREM! 👑</strong>
            <strong *ngIf="getBalance() > 0 && !isAlreadyMillionaire() && getMillionaireTime()">Zostaniesz milionerem
                za: {{ getMillionaireTime() }} miesięcy! 💰</strong>
            <strong *ngIf="getBalance() > 0 && !isAlreadyMillionaire() && !getMillionaireTime()">W tym tempie nie
                zostaniesz milionerem w ciągu 20 lat 😅</strong>
        </div>

        <br />

        <plotly-plot [data]="graph.data" [layout]="graph.layout"></plotly-plot>
    </div>
</div>