<div *ngIf="isVisible" class="edit-border p-3 m-2">
    <div class="form-group">
        <label>Nazwa</label>
        <input type="text" class="form-control" [(ngModel)]="profit.name"/>
    </div>
    <div class="form-group">
        <label>Kwota</label>
        <input type="number" class="form-control" [(ngModel)]="profit.value"/>
    </div>
    <div class="form-group">
        <label>Waluta</label>
        <input type="text" class="form-control" [(ngModel)]="profit.currency"/>
    </div>    
    <div class="mt-3 d-flex justify-content-center">
        <button class="btn btn-danger mr-3" (click)="onDelete()">Usuń</button>
        <button class="btn btn-primary mr-3" (click)="addOrUpdate()">OK</button>
    </div>
</div>
